extends layout

block content
  <div class="Title Text">
    h1= title
    p Welcome to Loughborough Space 
  </div>


  Twitter : 
  <a class="twitter-timeline" data-width="800" data-height="800" data-theme="dark" href="https://twitter.com/LboroSpace?ref_src=twsrc%5Etfw">Tweets by LboroSpace</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>