doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/projects">Projects</a>
      <a href="/team">Team</a>
      <a href ="/legacy">Legacy</a>
    </div>
    block content
