extends layout

block content
    <div class="Title Text">
        h1= title
        p Welcome to the Projects page
    </div>

    a(href = "/beacon", style = "color:black") Beacon <br>
    a(href = "/chimera", style = "color:black") Chimera